<div class="content">
  <h1>Answer</h1>
  <div class="alert alert-dark" role="alert">
    <p class="text-justify"><%= @question %></p>
  </div>
  <div class="alert alert-warning" role="alert">
    <p class="text-justify"><%= @answer %></p>
  </div>
  <%= link_to "Ask another question", :ask, {:class => "btn btn-primary"}%>
</div>
