<div class="content">
  <h1>Ask</h1>
  <form action="/answer" method="get">
    <div class="form-group">
      <input type="text" name="question" placeholder="Ask a question..." class="form-control">
      <small class="form-text text-muted">We'll only share your info with the mob.</small>
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
</div>
